*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style-type: none;
}
#search{
    width: 200px;
    border-radius: 8px;
    margin-left: 30px;
}
#logo{
    padding-left: 80px;
    transition:0.5s
}
#logo:hover{
    transform: scale(1.2);
}
.navbar li{
    display: inline-block;
    margin: 0 1rem;
    position: relative;
    
}
.nav-menu li a{
    text-decoration: none;
    color: antiquewhite;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    
    
}
.nav-menu li::after{
    content:'';
    height: 4px;
    width: 0;
    position: absolute;
    background: #009688;
    left: 0;
    bottom: -10px;
    transition: 0.7s;
}
.nav-menu li:hover::after{
    width: 100%;
}
.headd{
    font-size: 5rem;
    margin-top: 100px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;
}
button{
    width: 200px;
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
    border-radius: 25px;
    margin: 20px 15px;
    border: 2px solid #009688;
    background: transparent;
    cursor: pointer;
    color: antiquewhite;
    font-size: 1.2rem;
    margin-top: 3.5rem;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    left: 0;
    bottom: 0;
    position: absolute;
    border-radius: 25px;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: 0.7s;
}
button:hover span{
    width: 100%;

}
button:hover{
    background-color: #009688;
    border: none;
}
.reg{
    margin-bottom: 50px;
    font-size: 60px;
}
.Mo{
    text-align: center;
    padding: 20px;
    font-size: 60px;
}
@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
.wrapper{
    background:#8e8b8b;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 50px;
    padding-top: 60px;
  }
  
  .wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 65px;
    margin-bottom: 60px;
    text-align: center;
    text-shadow: 2px 2px 4px whitesmoke;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;  
    position: relative;
  }
  
  .team .team_member h3{
    color:black;
    font-size: 26px;
    margin-top: 50px;
  }
  
  .team .team_member p.role{
    color: #ccc;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
  }
  
  .team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
  }
